smart_contracts/node_modules
front-end/node_modules
coverage
coverage.json
typechain
typechain-types

data-deploy.txt
smart_contracts/artifacts
front-end/src/artifacts
front-end/src/artifacts-old
smart_contracts/cache
#env file 
smart_contracts/.env
# Hardhat files
cache
artifacts

